
<h1> FAQ </h1>

<div class="hadith-container" > 
<h2>What is a Hadith and where did the concept come about?</h2>

<p>In Islam, a Hadith is a collection of traditions containing sayings, actions (<em>sunnah</em>), speeches, practises, and daily lives of the Holy Prophet Muhammad and His family [Peace be Upon them All].
All Hadith have a chain of narration which lead up to either the Prophet Muhammad [SAWW] or His Holy family [AS]. With accounts of their daily practice (the Sunnah), Hadith  constitute the major source of guidance for Muslims apart from the Koran.
The main parts of the Hadith are:</p>
<ul>
<li>The text (mat'n) is the wording of the tradition, indicating its content.</li>
<li>The chain (sanad) is the path of the tradition ie. the chain of reporters who transmitted the tradition.</li>
<li>The support chain (isnad) is a chain of transmission that can be traced all the way back to the Prophet, Imam or anyone else who uttered it.</li>
</ul>

</div>

<br/>
<div class="hadith-container" > 
<h2>What are the categories of a Hadith's authenticity?</h2>

<ul>
<li>Sahih ('Authentic'): This is a tradition whose chain of transmission is consecutively linked to the <i>masum</i>, narrated by one veracious (adil) imami to another, on all levels.</li>
<li>Hasan ('Good'): This is a tradition whose chain of transmission is consecutively linked to the masum by commendable imamis whose reliability has not been affirmed. It takes only one reporter in the cain to be a commendable imami to render the whole report hasan, even though the rest of the reporters may be veracious imamis.</li>
<li>Muwaththaq ('Dependable'): Also termed qawi (strong). Refers to a tradition narrated by reporters who are deemed reliable by the classical scholars, although they adhere to a different school of thought (even those opposing Shi'a Ithna Ashari school).</li>
<li>Daif ('Weak): Report that does not fulfil any of the conditions from the above three categories, because its chain comprises a reporter who has been defamed because of his immorality or because he is unknown or a known fabricator.</li>
</ul>
</div>

<br/>

<div class="hadith-container" > 
<h2>How authentic are the hadith found in hadith books such as Al-Kafi?</h2>

<p>No Hadith collection, piece of text, or religious manifesto can be claimed as 100% correct or authentic except for the Holy Quran. As such, books are written, compiled and passed down by fallible humans (which are prone to errors), so they can naturally never be 100% "sahih" </p>
<p>Therefore, <b>no Shi'a scholar ever has claimed the absolute authenticity of any of the Shia hadith books</b>. Each of them may have strong hadith and weak ones, but these distinctions must be made by an studying them.
<br/><br/>
For example, Al-Kafi, written and compiled Kulayni, has been examined by the great Imami scholar Zayn al-Din al-`Amili, known as al-Shahid al-Thani (911-966/1505-1559). He examined the asnad or the chains of transmission of al-Kafi's traditions, and noted that it consists of:
<br/><br/>
5072 sahih (authentic), 144 hasan (good authenticity), 1118 muwaththaq (trustworthy to an extent), 302 qawi (strong authenticity) and 9485 traditions which are categorized as daif (weak).
<br/>
This is not to say the hadith in these books are incorrect or useless, they are still useful traditions, but they must be taken with a grain of salt and your own research must be done to see whether these are correct.</p>
</div>

<br/>

<div class="hadith-container" > 
<h2>Am I allowed to copy/use these hadiths on this website?</h2>

<p>Yes, absolutely. The owners of the website in no way own any of the content in the website, and it is not in any kind of copyright or ownership.

Feel free to use it reproducing individual hadith or selections of hadith for a teaching/presentation purpose is highly encouraged!</p>
</div>

<br/>

<div class="hadith-container" > 
<h2>Can I contribute and/or donate to your website?</h2>

<p>For contributions, please note that the creators are website are continuing to improve the wesbite.
Please provide tips, feedback and help with anything you think can help improve the wesbite.
The content of the website is constantly growing, we are looking for English language text of the three main Hadith books (Al-Ahkam, Al-Faqih, Al-Istibsar). Please help contribute if you have or know of where these can be obtained. 

Finally, please do not donate to us. If you wish to help monetarily, please donate to a local charity in the name of those who worked on the website. 
Most importantly, please keep all those who worked on this website and put in long hard hours in your <i>duas</i></p>
</div>

<br/>

<div class="hadith-container" > 
<h2>Can I link from a website I maintain to resources on your website?</h2>

<p>Yes, absolutely. There is no problem in it.</p>
</div>

<br/><br/>
