
<h1> FAQ </h1>

<h3>How authentic are the hadith found in books such as Al-Kafi?</h3>

<p>No Hadith collection is 100% correct except for the Holy Quran. As such, books are written and compiled by humans (which are prone to errors), so they can naturally never be 100% "sahih" </p>
<p>For example, Al-Kafi, written and compiled Kulayni, has been examined by the great Imami scholar Zayn al-Din al-`Amili, known as al-Shahid al-Thani (911-966/1505-1559). He examined the asnad or the chains of transmission of al-Kafi's traditions, and noted that it consists of 5072 sahih (authentic), 144 hasan (good authenticity), 1118 muwaththaq (trustworthy to an extent), 302 qawi (strong authenticity) and 9485 traditions which are categorized as daif (weak).
This is not to say the hadith in these books are incorrect or useless, they are still useful traditions, but they must be taken with a grain of salt</p>