<!-- SIDE BAR -->
	<div *ngIf="content_title?.chapters?.length > 1" class="col-md-1">
            <div class="sidebar-nav-fixed affix" id="collapsable-parent">
                <div id="collapsable" class="well collapsable-div">
                    <ul class="nav ">
                        <li class="active" *ngFor="let c of content_title.chapters; index as i">
						<span class="nav-items"> <a class="nav-text" [attr.href]="'/view/' + content_title.book + '/' + content_title.id + '#' + (i+1)">Chapter {{ i  + 1 }}</a> 
						<a id="chapter-names" class="nav-text-name-hidden nav-text chapter-name" [attr.href]="'/view/' + content_title.book + '/' + content_title.id + '#' + (i+1)"> : {{c.chapter_name}} </a> 
						</span><br/><br/>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
		
<!-- TITLE -->
<h1 *ngIf="input_data.id != 1"> {{ content_title?.title }} </h1>
<h2 *ngIf="input_data.id != 1"> {{ content_title?.text }} </h2>

<!-- LOADING SPINNER -->
<div class="spinner" *ngIf="!content">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<!-- INTRO TEXT -->
<div *ngIf="input_data.id == 0">
	<div id="name-wrapper"  *ngFor="let c of content; index as i">
		<h1> {{ c.header }}</h1>
		<p class="normal-text intro-text "> {{ c.text }} </p>
	</div>
</div>

<!-- COMING SOON TEXT -->
<div *ngIf="content?.length == 0">
	<div  class="coming-soon">
		<div *ngIf="!input_data.query" class="inset-text-effect">Coming Soon...</div>
		<div *ngIf="input_data.query" class="inset-text-effect">No Results Found...</div>
		<link async href="http://fonts.googleapis.com/css?family=Aladin" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
	</div>
	<h4 *ngIf="!input_data.query" style="text-align:center; overflow:hidden; margin-top:5%;" > We are working towards populating our database fully</h4>
</div>

<!-- SEARCH RESULTS HEADING -->
<div *ngIf="input_data.query && content?.length > 0">
	<h2> Search Results </h2>
	<p> Displaying {{ content?.length }} results </p>
</div>

<!-- MAIN CONTENT -->
<div *ngIf="!input_data.id || input_data.id > 0">
	<div id="name-wrapper"  *ngFor="let c of content; index as i">
		<section *ngIf="content_title?.chapters?.length > 1 && (i == 0 || content[i].chapter != content[i-1].chapter)" [id]="c.chapter" ><div class="header-text"> <h3> {{ c.chapter }} - {{ content[i].chapter_name }} </h3></div></section>

		<div class="hadith-container" > 
			<span class="nar-text"> {{ c.narrator }}</span><br /><br />
			<div class="normal-text" *ngFor="let s of c.text.split('\n')">
				  {{s}} <br/> 
			</div> 
			<div>
				<a class="subtext" style="float:left; cursor: pointer;cursor: hand" (click)="open_module('http://www.fourshiabooks.com/hadith/' + book_name + '/' + c.content_id + '/' + c.chapter + '/' + c.number)">Share... </a>
				<span class="subtext" style="float:right">Chapter: {{ c.chapter }}, Hadith: {{c.hadith}}, Number: {{ c.number }}  </span> 
			</div><br />
		</div>
	</div>
</div>

<!-- SHARE POPUP MODAL -->
<div id="myModal" class="modal">

	<!-- Modal content -->
	<div class="modal-content">
		<span class="close">&times;</span>
		<div class="form-group pop-up-text" >
		<span>
		<a (click)="copyToClipboardMsg()"><button type="button" class="btn btn-secondary">Copy to Clipboard</button></a>
			<input class="form-control input-lg" id="inputlg" type="text" >
		</span>

		</div>
				<div> <label id="copy-outcome" class="label-for-copy"></label> </div>

		<div id="share-buttons" style="text-align: center;">
        <span >
    <!-- Email -->
    <a id="share-email" href="">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a>

    <!-- Facebook 
	<iframe id="share-fb" src="" width="59" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>-->
	<a id="share-fb" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>

    <!-- Twitter -->
    <a id="share-twitter" href="" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
    </a>

    <!-- Reddit -->
    <a id="share-reddit" href="" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
    </a>
    
    <!-- Print -->
    <a href="javascript:;" onclick="window.print()">
        <img src="https://simplesharebuttons.com/images/somacro/print.png" alt="Print" />
    </a>
    </span>
    
</div>
	</div>
</div>
