	<div *ngIf="content_title.chapters?.length > 1" class="col-md-1">
            <div class="sidebar-nav-fixed affix">
                <div class="well">
                    <ul class="nav ">
                        <li class="nav-header">Chapter...</li>
                        <li class="active" *ngFor="let c of content_title.chapters; index as i">
						<a [attr.href]="'/view/' + content_title.book + '/' + content_title.id + '#' + (i+1)">Chapter {{ i  + 1 }}</a>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
		
<h1> {{ content_title.title }} </h1>
<h2> {{ content_title.text }} </h2>

<div id="name-wrapper" *ngFor="let c of content; index as i">
<section [id]="c.chapter" *ngIf="content_title.chapters?.length > 1 && (i == 0 || content[i].chapter != content[i-1].chapter)"><div class="header-text"> <h3> {{ c.chapter }} - {{ content[i].chapter_name }} </h3></div></section>
<div class="hadith-container" > 

<span class="nar-text"> {{ c.narrator }}</span><br /><br />
<div class="normal-text" *ngFor="let s of c.text.split('\n')">
      {{s}} <br/> 
</div> 
<span class="subtext">Chapter: {{ c.chapter }}, Hadith: {{c.hadith}}, Number: {{ c.number }}  </span> <br />
</div>
</div>

<script>
function myFunction() {
    var x = document.URL;
    document.getElementById("demo").innerHTML = x;
}
</script>