	<div *ngIf="content_title?.chapters?.length > 1" class="col-md-1">
            <div class="sidebar-nav-fixed affix">
                <div id="collapsable" class="well collapsable-div">
                    <ul class="nav ">
                        <li class="active" *ngFor="let c of content_title.chapters; index as i">
						<span class="nav-items"> <a class="nav-text" [attr.href]="'/view/' + content_title.book + '/' + content_title.id + '#' + (i+1)">Chapter {{ i  + 1 }}</a> 
						<a id="chapter-names" class="nav-text-name-hidden nav-text chapter-name" [attr.href]="'/view/' + content_title.book + '/' + content_title.id + '#' + (i+1)"> : {{c.chapter_name}} </a> 
						</span><br/><br/>
                        </li>
                    </ul>
                </div>
                <!--/.well -->
            </div>
            <!--/sidebar-nav-fixed -->
        </div>
		
<h1 *ngIf="id.id != 1"> {{ content_title?.title }} </h1>
<h2 *ngIf="id.id != 1"> {{ content_title?.text }} </h2>

<div *ngIf="id.id == 1">
	<div id="name-wrapper"  *ngFor="let c of content; index as i">
		<h1> {{ c.header }}</h1>
		<p class="normal-text intro-text "> {{ c.text }} </p>
	</div>
</div>

<div *ngIf="content?.length == 0">
<div  class="coming-soon">
	<div class="inset-text-effect">Coming Soon...</div>
<link async href="http://fonts.googleapis.com/css?family=Aladin" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>

</div>
<h4 style="text-align:center; overflow:hidden; margin-top:5%;" > We are working towards populating our database fully</h4>

</div>

<div *ngIf="id.id != 1">
<div id="name-wrapper"  *ngFor="let c of content; index as i">
<section [id]="c.chapter" *ngIf="content_title.chapters?.length > 1 && (i == 0 || content[i].chapter != content[i-1].chapter)"><div class="header-text"> <h3> {{ c.chapter }} - {{ content[i].chapter_name }} </h3></div></section>
<div class="hadith-container" > 

<span class="nar-text"> {{ c.narrator }}</span><br /><br />
<div class="normal-text" *ngFor="let s of c.text.split('\n')">
      {{s}} <br/> 
</div> 
<span class="subtext">Chapter: {{ c.chapter }}, Hadith: {{c.hadith}}, Number: {{ c.number }}  </span> <br />
</div>
</div>
</div>
