   <!-- Navigation -->
    <nav class="nav-color navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand nav-color" [routerLink]="['/']">The Four Books</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse top-nav-bar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-color">
                    <li>
                        <a [routerLink]="['/about']">About</a>
                    </li>
                    <li>
                        <a [routerLink]="['/contact']">Contact</a>
                    </li>
					
					<li>
					

            <div class="search-bar input-group" id="adv-search" >
                <input type="text" class="form-control" id="search-nonexact" placeholder="Search for Hadith text in all books..." />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Search in...</label>
                                    <select id="search-book-filter" class="form-control">
                                        <option value="0" selected>All Books</option>
                                        <option value="1">Al-Kafi</option>
                                        <option value="2">Al-Faqih</option>
                                        <option value="3">Al-Ahkam</option>
                                        <option value="4">Al-Istibsar</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Narrated By...</label>
                                    <input id="search-narrated-filter" class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Has the phrase (Exact match)</label>
                                    <input id="search-exact-filter" class="form-control" type="text" />
                                  </div>
                                  <a [routerLink]="['/results', 'book', 'by', 'query']" ><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"> Search</span></button></a>
                                </form>
                            </div>
                        </div>
                        <a [routerLink]="['/results', 'al-kafi']" ><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
                    </div>
                </div>
            </div>


					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
