   <!-- Navigation -->
    <nav class="nav-color navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" [routerLink]="['/']">The Four Books</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <span class="collapse navbar-collapse top-nav-bar" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    
                    <li>
						<div class="dropdown navigate-area " title="Navigate to a specific Hadith by either volume/chapter or by absolute hadith number" style="margin-top:7px">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Navigate To Hadith...
								<span class="caret"></span>
							</button>
							<div class="dropdown-menu" style="padding:5px">
							
							<div>
								<label class="navigate-label">By Volume/Chapter:</label>
								<switch id="switch" [status]="true"  (statusChange)="onFlagChange($event)"></switch>
							</div>
							
								<form id="non-exact" class="form-horizontal" role="form">
									<div>
										<label class="navigate-label" for="filter">Book:</label>
										<select id="navigate-book-filter" class="form-control">
											<option value="1">Al-Kafi</option>
											<option value="2">Al-Faqih</option>
											<option value="3">Al-Ahkam</option>
											<option value="4">Al-Istibsar</option>
										</select>
									</div>
									
									<div >
										<label class="navigate-label" for="contain">Book #:</label>
										<input id="navigate-volume-filter" class="form-control" type="text" [(ngModel)]='bookNumberValue' name="somethingtestTwo"/>
									</div>
									
									<div >
										<label class="navigate-label" for="contain">Chapter #:</label>
										<input id="navigate-chapter-filter" class="form-control" type="text" [(ngModel)]='chapterNumberValue' name="somethingtestThree"/>
									</div>
									<div >
										<label class="navigate-label" for="contain">Hadith #:</label>
										<input id="navigate-number-filter" class="form-control" type="text" [(ngModel)]='hadNumberValue' name="somethingtestFour"/>
									</div>
									<a [routerLink]="['/hadith', getValueBook(), bookNumberValue, chapterNumberValue, hadNumberValue]" ><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"> Navigate</span></button></a>
								</form>
								
								<form id="exact" style="display:none" class="form-horizontal" role="form">
									<div >
										<label class="navigate-label" for="filter">Book:</label>
										<select id="exact-book-filter" class="form-control">
											<option value="1">Al-Kafi</option>
											<option value="2">Al-Faqih</option>
											<option value="3">Al-Ahkam</option>
											<option value="4">Al-Istibsar</option>
										</select>
									</div>
									
									<div >
										<label class="navigate-label" for="contain">Hadith Number:</label>
										<input id="exact-number-filter" class="form-control" type="text" [(ngModel)]='hadithNumberValue' name="somethingtest" />
									</div>
									
									
									<a [routerLink]="['/hadith', getValueBook(), hadithNumberValue]" ><button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"> Navigate</span></button></a>
								</form>
							</div>
						</div>
                    </li>
					
					<li>
					

            <div class="search-bar input-group" id="adv-search" >
                <input type="text" class="form-control" id="search-nonexact" placeholder="Search for Hadith text in all books..." [(ngModel)]='searchValue' name="somethingtestSeven"/>
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-search dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label class="navigate-label" for="filter">Search in...</label>
                                    <select id="search-book-filter" class="form-control">
                                        <option value="0" selected>All Books</option>
                                        <option value="1">Al-Kafi</option>
                                        <option value="2">Al-Faqih</option>
                                        <option value="3">Al-Ahkam</option>
                                        <option value="4">Al-Istibsar</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label class="navigate-label" for="contain">Narrated By...</label>
                                    <input id="search-narrated-filter" class="form-control" type="text" [(ngModel)]='NarValue' name="somethingtestFive"/>
                                  </div>
                                  <div class="form-group">
                                    <label class="navigate-label" for="contain">Has the phrase (Exact match)</label>
                                    <input id="search-exact-filter" class="form-control" type="text" [(ngModel)]='ExactSearchValue' name="somethingtestSix"/>
                                  </div>
                                  <a [routerLink]="['/results', 'book', NarValue, ExactSearchValue]" ><button type="submit" id="btn-exact" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true">Advanced Search</span></button></a>
                                </form>
                            </div>
                        </div>
                        <a [routerLink]="['/results', searchValue]" ><button type="button" id="btn-nonexact" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></a>
                    </div>
                </div>
            </div>


					</li>
                </ul>
            </span>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
