
footer {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	text-align: center;
	font: normal 14px sans-serif;

}

.footer {

    height: 35px;
}    

.footer-links {
	
	list-style: none;
	font-weight: bold;
	color:  #bab8b8;
	padding-top: 12px;
}
.footer-links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}