/* Sticky footer styles
-------------------------------------------------- */

.footer {

  /* Set the fixed height of the footer here */
    height: 50px;
  line-height: 50px;
  padding: 0 20px;
  background-color: #222;
}
html, body {
    height: 100%;
}
