.tg  {width:100%; border-collapse:collapse;border-spacing:0;border-color:#aaa;border-width:1px;border-style:solid;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#aaa;color:#fff;background-color:#f38630;}
.tg .tg-j2zy{text-align: center; background-color:#FCFBE3;vertical-align:top}
.tg .tg-yw4l{text-align: center; vertical-align:top}

h1 {text-align:center;}
h2 {text-align:center;}

.clickable {cursor: pointer;}

.table-hover tbody tr:hover td {
    background: #ffff99;
}
 tr:hover {
    background-color: #ffff99;
}
table {
	border: 2px solid DarkOrange !important;

}
p {
    font-family: 'Open Sans','Trebuchet MS','Arial','sans-serif';
    font-size: 14px;
    color: #333;
    letter-spacing: 1px;
    line-height: 1.5;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    text-align: center;
    text-decoration: none;
    text-indent: 10px;
    text-shadow: 1px 1px 2px #ccc;
}

h1 {
	font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.6);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .35em;
    font-size: 50px;
	text-shadow: 2px 2px 3px #b9b9b9;;
}

h2 {
	font-weight: bolder;
	text-shadow: 1px 1px 2px #ffffff;
}
a {
color:red}