<h1> {{ book_title }} </h1>

<p [innerHTML]="description?.text"></p>
<p>For a complete introduction, please read the <strong><a [routerLink]="['/view/', 'al-kafi', '0']" routerLinkActive="active">first section of the book: Introduction.</a></strong></p>.

<h2> Part 1 : AL-’USUL (principles)</h2>
<p> This part of the book consists of Ahadith on the principles of beliefs and it is called ’Usul al-Kafi 
</p>
<table class="tg table-hover">
  <tr>
	<th class="tg-yw4l">Book #</th>
    <th class="tg-yw4l">Title English</th>
    <th class="tg-yw4l">Title Arabic</th>
    <th class="tg-yw4l">Volume</th>
  </tr>
  <tbody>
    <tr class="clickable" *ngFor="let titles of titles_1; index as i; odd as isOdd; even as isEven" [routerLink]="['/view/', title.name, titles.id]"> 
		<td *ngIf="isOdd" class="tg-j2zy"> {{ i + 1 }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.english }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.arabic }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.volume }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ i+1 }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.english }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.arabic }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.volume}} </td>		
	</tr>
	
  </tbody>
  
</table>

<h2> PART 2 : AL-FURU (legal)</h2>
<p> This part consists of Ahadith on Islamic practical laws such as:</p>
<ul style="text-align:center; list-style: none"> 
<li><p>The acts of worship (‘Ibadat)</p></li>
<li><p>Business transactions (mu‘amalat)</p></li>
<li><p>Judicial laws (al-Qada’)</p></li>
</ul>

<table class="tg table-hover">
  <tr>
  	<th class="tg-yw4l">Book #</th>
    <th class="tg-yw4l">English Title</th>
    <th class="tg-yw4l">Title Arabic</th>
    <th class="tg-yw4l">Volume</th>
  </tr>
  <tbody>
    <tr class="clickable" *ngFor="let titles of titles_2; index as i; odd as isOdd; even as isEven" [routerLink]="['/view/', title.name, titles.id]"> 
		<td *ngIf="isOdd" class="tg-j2zy"> {{ i + 9 }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.english }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.arabic }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.volume }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ i+9 }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.english }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.arabic }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.volume}} </td>			
	</tr>
  </tbody>
</table>

<h2> PART 3 : AL-RAWDA </h2>
<p>
This part consists of miscellaneous Ahadith of both the ’Usul and Furu‘ of al-Kafi.</p>
The topics are not arranged and organized as in the other volumes. The chapters are not in alphabetical order of Ahadith or narrators.<br>
This part, al-Rawdah (the Garden of al-Kafi,) was printed in Tehran 1303/1886 with other books in one volume.
<br>

<table class="tg table-hover">
  <tr>
  	<th class="tg-yw4l">Book #</th>
    <th class="tg-yw4l">English Title</th>
    <th class="tg-yw4l">Title Arabic</th>
    <th class="tg-yw4l">Volume</th>
  </tr>
  <tbody>
    <tr class="clickable" [routerLink]="['/view/', 'al-kafi', '35']"> 
		<td class="tg-j2zy">35</td>
		<td  class="tg-j2zy"> Al-Rawada </td>
		<td  class="tg-j2zy">  الروضة </td>
		<td  class="tg-j2zy"> 8</td>
	</tr>
  </tbody>
</table>
<br/>  
		