<h1> {{ book_title }} </h1>

<p [innerHTML]="description?.text"></p>

<p *ngIf="title.name == 'al-kafi'">For a complete introduction, please read the <strong><a [routerLink]="['/view/', 'al-kafi', '0']" routerLinkActive="active">first section of the book: Introduction.</a></strong>
<br/>Please also read the <a data-toggle="modal" data-target="#myModal">Note from Translator</a>.</p>

<h2 *ngIf="title.name == 'al-kafi'"> Part 1 : AL-’USUL (principles)</h2>
<p *ngIf="title.name == 'al-kafi'"> This part of the book consists of Ahadith on the principles of beliefs and it is called ’Usul al-Kafi 
</p>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Note to Readers</h4>
        </div>
        <div class="modal-body">
          Dear Respected Readers, Please Note the Following: <br/><br/>

			The English Translation of al-Kafi is now, by the will of Allah, in your hands. It was only because of 
			the beauty of the words of Ahl al-Bayt ‘Alayhim al-Salam that made it all possible. The volume of this 
			project had become quite large and complex due to two language texts and it was sometimes difficult 
			to handle. All comments, suggestions and corrections will be very much appreciated. In fact it will be 
			your participation in the good cause and rewarding in the sight of Allah, most Majestic, most 
			Glorious. Please send your comments, suggestions or corrections to the following e-mail address: 
			info@theislamicseminary.org 
			<br/><br/>
			With thanks, 
			<br/><br/>
			-The Islamic Seminary 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
<table class="tg table-hover">
  <tr>
	<th class="tg-yw4l">Book #</th>
    <th class="tg-yw4l">Title English</th>
    <th class="tg-yw4l">Title Arabic</th>
    <th class="tg-yw4l">Volume</th>
  </tr>
  <tbody>
    <tr class="clickable" *ngFor="let titles of titles_1; index as i; odd as isOdd; even as isEven" [routerLink]="['/view/', title.name, titles.id]"> 
		<td *ngIf="isOdd" class="tg-j2zy"> {{ i + 1 }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.english }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.arabic }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.volume }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ i+1 }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.english }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.arabic }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.volume}} </td>		
	</tr>
	
  </tbody>
  
</table>

<div *ngIf="title.name == 'al-kafi'">
<h2> PART 2 : AL-FURU (legal)</h2>
<p> This part consists of Ahadith on Islamic practical laws such as:</p>
<ul style="text-align:center; list-style: none"> 
<li><p>The acts of worship (‘Ibadat)</p></li>
<li><p>Business transactions (mu‘amalat)</p></li>
<li><p>Judicial laws (al-Qada’)</p></li>
</ul>

<table class="tg table-hover">
  <tr>
  	<th class="tg-yw4l">Book #</th>
    <th class="tg-yw4l">English Title</th>
    <th class="tg-yw4l">Title Arabic</th>
    <th class="tg-yw4l">Volume</th>
  </tr>
  <tbody>
    <tr class="clickable" *ngFor="let titles of titles_2; index as i; odd as isOdd; even as isEven" [routerLink]="['/view/', title.name, titles.id]"> 
		<td *ngIf="isOdd" class="tg-j2zy"> {{ i + 9 }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.english }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.arabic }} </td>
		<td *ngIf="isOdd" class="tg-j2zy"> {{ titles.volume }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ i+9 }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.english }} </td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.arabic }}</td>
		<td *ngIf="isEven" class="tg-yw4l"> {{ titles.volume}} </td>			
	</tr>
  </tbody>
</table>

<h2> PART 3 : AL-RAWDA </h2>
<p>
This part consists of miscellaneous Ahadith of both the ’Usul and Furu‘ of al-Kafi.</p>
The topics are not arranged and organized as in the other volumes. The chapters are not in alphabetical order of Ahadith or narrators.<br>
This part, al-Rawdah (the Garden of al-Kafi,) was printed in Tehran 1303/1886 with other books in one volume.
<br>

<table class="tg table-hover">
  <tr>
  	<th class="tg-yw4l">Book #</th>
    <th class="tg-yw4l">English Title</th>
    <th class="tg-yw4l">Title Arabic</th>
    <th class="tg-yw4l">Volume</th>
  </tr>
  <tbody>
    <tr class="clickable" [routerLink]="['/view/', 'al-kafi', '36']"> 
		<td class="tg-j2zy">36</td>
		<td  class="tg-j2zy"> The Book of Miscellanea </td>
		<td  class="tg-j2zy">  الروضة </td>
		<td  class="tg-j2zy"> 8</td>
	</tr>
  </tbody>
</table>
</div>
<br/>  
		