<img src="../../assets/home-pic.jpg" alt="home_pic" style="border-radius: 15px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"/>

<div class="hadith-container">
<p class = "amiri">السلام عليكم</p>
<p style = "font-family:helvetica">
By the blessings of Allah (SWT) and the Alhulbayt (as) this website is the first online, searchable, platform of authentic Shia Islamic Hadith books.  The goal of this website is to easily provide a database containing the core Shia Islamic books in English (with other languages to be added in the future). 
</p>
<p style = "font-family:helvetica">
Our vision is to reach as many people as possible and especially the youth who struggle to find English translated Shia books. In this regard, we hope you find the website useful. </p>
<p class = "amiri">جزاك اللهُ خيرًا </p>
</div><br /><br />

 <div class="col-md-6">

   <a [routerLink]="['/details', 'al-kafi']" routerLinkActive="active"><button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Kitab Al-Kafi - كتاب الكافي <br> The Sufficient Book</button></a>
	<br>
  <button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Al-Faqīh - من لا يحضره الفقيه‎‎<br>Every man his own lawyer</button>

</div>

 <div id="second-col" class="col-md-6">

  <button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Tahdhib al-Ahkam - تهذیب الاحکام فی الشرح المقنعه‎‎</button>
	<br>
  <button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Al-Istibsar - اَلاِْسْتِبْصار فیما اختلف من الأخبار<br></button>

</div><br/><br />