<h1 style="color: #5e9ca0; text-align: center;"><img src="https://raw.githubusercontent.com/plu/JPSimulatorHacks/master/Data/test.png" alt="" width="250" height="188" /></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere metus fringilla urna mollis, vitae dignissim elit volutpat. Praesent pellentesque fringilla purus, ac faucibus enim. Nulla gravida, nisi vel pharetra ullamcorper, orci velit vehicula est, at ornare eros turpis ac nibh. Nullam id libero at mauris sodales imperdiet. Etiam nisl ex, commodo a ultricies sit amet, ornare a est. In hac habitasse platea dictumst. Aenean consequat mattis egestas. Donec aliquet malesuada nulla in laoreet.</p>
<p>Curabitur sodales eros sed volutpat ullamcorper. In eget dignissim lorem. Integer auctor enim in elit suscipit consectetur. Donec ullamcorper interdum quam quis ullamcorper. Proin vulputate a nibh at consectetur. Mauris condimentum non tortor id posuere. Donec congue in lorem eget ornare. Vivamus tincidunt vulputate mi, at viverra nisi lacinia quis. Morbi vel nisi ullamcorper, scelerisque velit et, pretium nunc. Cras vel sem fermentum, ultrices risus at, fringilla urna. Nam varius enim et mauris efficitur, vitae fermentum ipsum vulputate. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer semper porta tortor ut consectetur. Vivamus nec augue massa. Ut laoreet libero enim, et tincidunt eros eleifend quis.</p>
<p>Thank you</p>
<p>&nbsp;</p>


 <div class="col-md-6">

   <a [routerLink]="['/details', 'Kitab Al-Kafi']" routerLinkActive="active"><button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Large button</button></a>
	<br>
  <button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Large button</button>

</div>
 <div class="col-md-6">

  <button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Large button</button>
	<br>
  <button type="button" class="btn btn-primary btn-round-lg btn-block btn-height">Large button</button>

</div>