.btn-height { 
	height: 65px
}
.hadith-container {
	background-color: rgba(255, 238, 235, 0.70);
	padding: 20px;
	box-shadow: 10px 10px 5px #666666;
}

@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
.amiri{font-family: 'Amiri', serif;}

img {
  max-width: 100% ;
  width: 40%;
  height: 40%;
    display: block;
    margin: 0 auto;
	margin-bottom: 20px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
img {
  max-width: 100% ;
  width: auto;
  height: auto;
}
#second-col {
  margin-top: 20px;
}
}
